
header{
  background-color:black;
  background-size:contain;
}

.grostitre{
    width: 100%;
    padding: -5%;
    font-size: 1000%;
  color:;
  text-align: justify;
  color: white;
}

footer{
  background-color:black;
  background-size:contain;
}
